# DATABASE
HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# WEB SERVER
WEB_SERVER_PORT=

# JWT
JWT_SECRET_KEY=

# ENCRYPT
BCRYPT_SALT=

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
CLOUDINARY_FOLDER=